.App {
	text-align: center;
}

button {
	transition: all 0.1s ease-in-out;
	width: 100px;
	color: #fff;
	font-size: 35px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

button:hover {
	transform: translateY(1px);
	box-shadow: none;
}

button:active {
	opacity: 0.8;
}

#increaseButton {
	background-image: linear-gradient(135deg, #6cd43c 0%, #077910 100%);
	box-shadow: 0 10px 10px -1px rgba(97, 238, 116, 0.6);
	margin-left: 10px;
}

#decreaseButton {
	background-image: linear-gradient(135deg, #df5e4d 0%, #d43535 100%);
	box-shadow: 0 10px 10px -1px rgba(238, 103, 97, 0.6)
}